# Flask Settings
FLASK_ENV=development
QR_FOLDER=static/qrcodes

# Security Settings
# Generate SECRET_KEY: python -c "import secrets; print(secrets.token_hex(50))"
SECRET_KEY=your_secret_session_key_here
OVERRIDE_KEY=your_override_key_here

# Establishment Settings
COMPANY_NAME=your_company_name_here

# Email Credentials
EMAIL_ADDRESS=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# Default Email Template
EMAIL_SUBJECT_WELCOME=Welcome to {company_name}!
EMAIL_BODY_WELCOME=<p>Dear Customer,</p><p>Thank you for choosing <strong>{company_name}</strong>! Attached is your QR Code for entry into our establishment.</p><p>Here are the details of your stay:<br>➢ Check-in: {start_date} @ {check_in}<br>➢ Check-out: {end_date} @ {check_out}</p><p>Best regards,<br>{company_name}</p>